<!-- Inclui o partial 'head.html' (normalmente contém <head>, links de CSS/JS e meta tags) -->
{% include 'parciais/head.html' %}

<!-- Abre a tag <body> do documento -->
<body>
    <!-- Inclui o partial 'header.html' (geralmente navegação/topo do site) -->
    {% include "parciais/header.html" %}

    {% include 'parciais/busca.html' %}

    <main-content-container>
        <div class="main-content main-content-list container">
            <div class="temp"></div>
            <div class="temp"></div>
            <div class="temp"></div>
            <div class="temp"></div>
            <div class="temp"></div>
            <div class="temp"></div>
            <div class="temp"></div>
            <div class="temp"></div>
            <div class="temp"></div>
            <div class="temp"></div>
            <div class="temp"></div>
        </div>
    </main-content-container>

<!-- Fecha o body do documento -->
</body>

<!-- Fecha o documento HTML -->
</html>